@page "/"

<PageTitle>Beranda</PageTitle>

<div class="beranda-container">

    <div class="beranda-container1">
        <h2>Selamat Datang!</h2>
        <p>Mulai bekerja dengan memilih salah satu tugas di bawah ini :</p>

        <div class="link-item">
            <h3>Mulai Produksi</h3>
            <p>Kelola proses produksi dan inventaris.</p>
            <button class="btn-primary1">Lihat Produksi</button>
        </div>

        <div class="link-item">
            <h3>Lihat Laporan</h3>
            <p>Analisis laporan hasil panen Keluar Masuk</p>
            <button class="btn-primary1">Lihat Laporan</button>
        </div>

        <div class="link-item">
            <h3>Lihat Cuaca Sekarang</h3>
            <p>Lihat cuaca sekarang dan perhatikan lahanmu</p>
            <button class="btn-primary1">Lihat Cuaca</button>
        </div>
    </div>

    <div class="beranda-container2">
        <h3>Kolom Informasi &nbsp;&nbsp; • • •</h3>
    </div>


</div>

